In [22]:
import sqlite3
import pandas as pd

# Connect to the SQLite database
conn = sqlite3.connect('conversations.db')

# Query the database and load the result into a pandas DataFrame
df = pd.read_sql_query("SELECT * FROM conversations", conn)

# Display the DataFrame
print(df.head())

# Close the connection
conn.close()
df.tail()

Empty DataFrame
Columns: [id, conversation_id, timestamp, content, type]
Index: []

Empty DataFrame
Columns: [id, conversation_id, timestamp, content, type]
Index: []

In [23]:
df

Empty DataFrame
Columns: [id, conversation_id, timestamp, content, type]
Index: []